{% extends 'base/base.html' %}
{% block title %} KIMA | Contact {% endblock %}
{% block content %}
<main>
    <br><br><br><br><br><br><br>
<div class="container">
    <div class="container d-flex justify-content-center">
        <div class="card p-3 py-4">
            <div class="text-center"> <img src="{{ trainer.dp }}" width="100" class="rounded-circle">
                <h3 class="mt-2">{{trainer.name}}</h3> <span class="mt-1 clearfix">{{ trainer.achievement | safe}}</span> 
                <small class="mt-4">{{ trainer.bio | safe}}</small>
                <div class="social-buttons mt-5"> <button class="neo-button"><i class="fa fa-facebook fa-1x"></i> </button> <button class="neo-button"><i class="fa fa-linkedin fa-1x"></i></button> <button class="neo-button"><i class="fa fa-google fa-1x"></i> </button> <button class="neo-button"><i class="fa fa-youtube fa-1x"></i> </button> <button class="neo-button"><i class="fa fa-twitter fa-1x"></i> </button> </div>
            </div>
        </div>
    </div>
</div>
</main>
{% endblock %}