{% load static %}

<html lang="en">

<head>
    <title>{% block title %}KIMA{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Number 1 Karate Institute in Patna, Best Martial Academy in Bihar, KIMA, Karate Institute of Martial Arts, Best Fitness Club in Patna, Patna Fitness Academy">
    <meta name="description" content="KIMA, Karate Institute of Martial Arts located in Rajeev Nagar near KCH Ressort, Patna. We avail Martial Arts, Dance Academy, Fitness & health Exercise, Weight Loss and more. We have special offer for winter classes, Please register with us and kick start your fitness journey with Us. ">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'site.css' %}">
    <link rel="stylesheet" href="{% static 'slider.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <script src="{% static 'slider.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
</head>
<body>
    {% include 'base/nav.html' %}
    {% block content %}
    {% endblock %}
    {% include 'base/footer.html'%}
</body>

</html>

