










<!-- <section class="bg-secondary">
    <hr style="color: aqua;">
    <div class="container text-light">
        <div class="text-light"> <h1>EVENTS</h1></div>
        <div class="row row-cols-1 row-cols-md-4 g-3 mx-3 bg-secondary" >
            {% for event in events %}
            <div class="card" style="width: 16.5rem;">
                <p class="card-header lead text-muted">{{event.name}}</p>
                <div class="card-body">
                    <h5 class="card-title lead text-muted">{{ event.Description}}</h5>
                    <p class="card-text lead text-muted">{{event.place}}</p>
                    <a href="{% url 'event' event.id %}" class="btn btn-primary">Know More</a>
                </div>
            </div>  
            {% endfor %}  
        </div>
     </div>
</section> -->