    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4 bg-dark">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase text-light">K-IMA</h5>
                    <p class="text-light">Be The Change</p>
                    <ul class="list-unstyled">
                        
                        <li>
                            <p class="text-light">
                                2nd Floor, Baalkishun Complex, Rajeev Nagar, Main Road, Atal Path, Near KCH Resort, Patna, Bihar, 800024
                            </p>
                            <p class="text-light">Mob No: +91 8102006478, +91 9304145572</p>
                        </li>
                        
                    </ul>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3 text-light">

                    <!-- Links -->
                    <h5 class="text-uppercase">Contact center</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="https://www.facebook.com/Karate-Institute-of-Martial-Arts-106046581798324/">Facebook</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/kima.india/">Instagram</a>
                        </li>
                        <li>
                            <a href="https://www.pinterest.com/kimaindia/">Pinterest</a>
                        </li>
                        <li>
                            <a href="#!"></a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase text-light">Opportunity</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="{% url 'partner-with-us'%}">Partner with us</a>
                        </li>
                        <!-- <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li> -->
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center my-3 text-light">© 2021 Copyright Karate-Institute-of-Martial-Arts
           <p class="text-light">Made with <svg xmlns="http://www.w3.org/2000/svg" style="color:red;" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
          </svg> <a href="http://pymonk.in/"> PyMonk</a></p>
        </div>
        <!-- Copyright -->
    </footer>

    <!-- Footer -->


