<section class="bg-dark text-light">
    <h3 class="card-title"><b>Latest News</b></h3>
    <div class="card bg-dark text-white">
          <h3 class="card-title lead text-muted"><b>{{ last_event.name}}</b></h3>
          <p class="card-text lead text-muted">{{ last_event.Description}}</p>
          <p class="card-text lead text-muted">{{ last_event.updated_at}}</p>
      </div>
</section>