<center class="bg-secondary"style="margin-top: 80px;">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">            
            <div class="carousel-item active" data-bs-interval="5000">
                <img class="carousel-image" src="https://kima-static.s3.ap-south-1.amazonaws.com/slide-show/slide1.png" class="d-block w-100" height="500px" width="100%" alt="img">
                
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img class="carousel-image" src="https://kima-static.s3.ap-south-1.amazonaws.com/slide-show/sunidhi-slide2.png" class="d-block w-100"  height="500px" width="100%"alt="img">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img class="carousel-image" src="https://kima-static.s3.ap-south-1.amazonaws.com/slide-show/sunidhi-slide2.png" class="d-block w-100"  height="500px" width="100%"alt="img">
            </div>            
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
    </div>
</center>