<div class="card">
    <div class="card-header bg-info">
    Testimonial
    </div>
    <div class="card-body">
    <blockquote class="blockquote mb-0">
        <p>Best place to shape your body</p>
        <footer class="blockquote-footer">Sunny Kumar <cite title="Source Title">Karate and yoga Student</cite></footer>
    </blockquote>
    </div>
</div>