<section>
    <div class="container-fluid text-center bg-dark text-light">
        <h3 class="text-center p-3">Our Trainer</h3>
        <!-- <center>
            <hr width="40%;" style="color:red; height: 0.3em;">
        </center> -->
        <p class="text-center lead text-muted">Bihar's Top Martial Artist  Professionals.</p>
        <p class="text-center lead text-muted">We are a team of reputed Martial Artist, Yoga Guru, Fitness Trainer & Dance Trainer.</p>
        <br>
    </div>
</section>
    <!------------------------------ flip-card section---------------------------------------->
<div class="container-fluid text-light">
<div class="row row-cols-1 row-cols-md-3 g-4 mx-4 ">
    {% for trainer in trainers %}
        <div class="col">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="{{ trainer.dp }}" alt="kima" style="width:300px;height:400px;">
                    </div>
                    <div class="flip-card-back">
                    <a href="{% url 'profile' trainer.id %}"> <h1 class="lead text-muted">{{ trainer.name }}</h1></a>
                    <p class="lead text-muted">{{ trainer.bio | safe}}</p>
                    <p class="lead text-muted">Highly experienced and well Trained</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %} 
</div>
</div>