{% extends 'base/base.html' %}
{% block title %} KIMA | Contact {% endblock %}
{% block content %}
<main>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center><h3>About Us</h3></center>
    <hr>
    <div class="container">
        comming soon
    </div>
</main>
{% endblock %}