{% extends 'base/base.html' %}
{% block title %} KIMA | Contact {% endblock %}
{% block content %}
<main>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center><h3>Contact Us</h3></center>
    <hr>
<div class="container mt-5">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc90y1YB6ZkP0FrORBtOgXWk9DKe3eEBLIdWsVpJlydKdzNRQ/viewform?embedded=true" width="640" height="1387" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>
</main>
{% endblock %}