{% extends 'base/base.html' %}
{% block title %} KIMA | Contact {% endblock %}
{% block content %}
<main>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center>
        <h3>Event Details</h3>
        <p>Upcoming Events</p>
    </center>
    <hr>

<div class="container">
    {% for event in events %}
    <div class="card w-75">
        <div class="card-body">
          <h5 class="card-title">{{event.name}}</h5>
          <p class="card-text">{{event.Description}}</p>
          <p class="card-text">{{event.place}}</p>
          <p class="card-text">K-IMA Contact Person : {{event.manager}}</p>
          <a href="#" class="btn btn-primary my-2">Fill Registration Form Here</a>
        </div>
    </div>
    {% endfor %}
</main>
{% endblock %}