{% extends 'base/base.html' %}
{% block title %} KIMA | Contact {% endblock %}
{% block content %}
<main>
    
    <hr>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Karate Institute Of Martial Arts Event Form</h1>
                    <p class="lead text-muted">Event Name</p>
                    <a href="" >List of Event</a>
                </div>
            </div>
        </section>
</main>
{% endblock %}