{% extends 'base/base.html' %}
{% block title %} KIMA | Contact {% endblock %}
{% block content %}
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Event Details</h1>
        </div>
    </div>
</section>
    
<div class="container">
    <div class="card w-75">
        <div class="card-body">
          <h5 class="card-title">{{event.name}}</h5>
          <p class="card-text">{{event.Description}}</p>
          <p class="card-text">{{event.place}}</p>
          <p class="card-text">K-IMA Contact Person : {{event.manager}}</p>
        </div>
</div>
</main>
{% endblock %}