{% extends 'base/base.html' %}
{% block title %} KIMA | Contact {% endblock %}
{% block content %}
<main>
    
    <hr>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Karate Institute Of Martial Arts Event Gallery</h1>
                    <p class="lead text-muted">Images that helps us to Visulaize the event of Past and keep memories in Present</p>
                </div>
            </div>
        </section>
        <div class="lightbox">
            <div class="row">
                <div class="col-lg-6">
                    <img src="https://kima-static.s3.ap-south-1.amazonaws.com/trainer/kundan/kundan4.jpg" data-mdb-img="https://kima-static.s3.ap-south-1.amazonaws.com/trainer/kundan/kundan4.jpg" alt="Lightbox image 1" class="w-100 mb-2 mb-md-4 shadow-1-strong rounded" />
                    <img src="https://kima-static.s3.ap-south-1.amazonaws.com/trainer/sunidhi/sunidhi-profile/photo_2021-10-19_23-01-51.jpg" data-mdb-img="https://kima-static.s3.ap-south-1.amazonaws.com/trainer/sunidhi/sunidhi-profile/photo_2021-10-19_23-01-51.jpg" alt="Lightbox image 2" class="w-100 shadow-1-strong rounded" />
                </div>
                <div class="col-lg-6">
                    <img src="https://kima-static.s3.ap-south-1.amazonaws.com/trainer/sunidhi/sunidhi-profile/photo_2021-10-19_22-55-11.jpg" data-mdb-img="https://kima-static.s3.ap-south-1.amazonaws.com/trainer/sunidhi/sunidhi-profile/photo_2021-10-19_22-55-11.jpg" alt="Lightbox image 3" class="w-100 shadow-1-strong rounded" />
                </div>
            </div>
        </div>

        <div class="lightbox my-4">
            <div class="row">
                <div class="col-lg-6">
                    <img src="https://kima-static.s3.ap-south-1.amazonaws.com/trainer/sunidhi/sunidhi-profile/photo_2021-10-19_23-01-29.jpg" data-mdb-img="https://kima-static.s3.ap-south-1.amazonaws.com/trainer/sunidhi/sunidhi-profile/photo_2021-10-19_23-01-29.jpg" alt="Lightbox image 1" class="w-100 mb-2 mb-md-4 shadow-1-strong rounded" />
                    <img src="https://kima-static.s3.ap-south-1.amazonaws.com/trainer/sunidhi/sunidhi-profile/photo_2021-10-19_23-02-25.jpg" data-mdb-img="https://kima-static.s3.ap-south-1.amazonaws.com/trainer/sunidhi/sunidhi-profile/photo_2021-10-19_23-02-25.jpg" alt="Lightbox image 2" class="w-100 shadow-1-strong rounded" />
                </div>
                <div class="col-lg-6">
                    <img src="https://kima-static.s3.ap-south-1.amazonaws.com/trainer/sunidhi/sunidhi-profile/photo_2021-10-19_23-02-16.jpg" data-mdb-img="https://kima-static.s3.ap-south-1.amazonaws.com/trainer/sunidhi/sunidhi-profile/photo_2021-10-19_23-02-16.jpg" alt="Lightbox image 3" class="w-100 shadow-1-strong rounded" />
                </div>
            </div>
        </div>

        <!-- <div class="lightbox my-4">
            <div class="row">
                <div class="col-lg-6">
                    <img src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/1.jpg" data-mdb-img="https://mdbootstrap.com/img/Photos/Slides/1.jpg" alt="Lightbox image 1" class="w-100 mb-2 mb-md-4 shadow-1-strong rounded" />
                    <img src="https://mdbootstrap.com/img/Photos/Thumbnails/Square/1.jpg" data-mdb-img="https://mdbootstrap.com/img/Photos/Square/1.jpg" alt="Lightbox image 2" class="w-100 shadow-1-strong rounded" />
                </div>
                <div class="col-lg-6">
                    <img src="https://mdbootstrap.com/img/Photos/Thumbnails/Vertical/1.jpg" data-mdb-img="https://mdbootstrap.com/img/Photos/Vertical/1.jpg" alt="Lightbox image 3" class="w-100 shadow-1-strong rounded" />
                </div>
            </div>
        </div>

        <div class="lightbox my-4">
            <div class="row">
                <div class="col-lg-6">
                    <img src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/1.jpg" data-mdb-img="https://mdbootstrap.com/img/Photos/Slides/1.jpg" alt="Lightbox image 1" class="w-100 mb-2 mb-md-4 shadow-1-strong rounded" />
                    <img src="https://mdbootstrap.com/img/Photos/Thumbnails/Square/1.jpg" data-mdb-img="https://mdbootstrap.com/img/Photos/Square/1.jpg" alt="Lightbox image 2" class="w-100 shadow-1-strong rounded" />
                </div>
                <div class="col-lg-6">
                    <img src="https://mdbootstrap.com/img/Photos/Thumbnails/Vertical/1.jpg" data-mdb-img="https://mdbootstrap.com/img/Photos/Vertical/1.jpg" alt="Lightbox image 3" class="w-100 shadow-1-strong rounded" />
                </div>
            </div>
        </div> -->
</main>
{% endblock %}