{% extends 'base/base.html' %}
{% block title %} KIMA | Contact {% endblock %}
{% block content %}
<main>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center><h3>Partnership With Us</h3></center>
    <hr>
    <p>
        Our Business proposal is getting ready in few days. Will be available soon...
    </p>
   
</main>
{% endblock %}