{% extends 'base/base.html' %}
{% block title %} KIMA | Contact {% endblock %}
{% block content %}
<main>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center><h3>Our Videos</h3></center>
    <hr>
    <div class="container">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4 mx-4 ">
                {% for video in videos %}
                <div class="card" style="width: 18rem;">
                    {{ video.title}}
                    <iframe width="" height="315" src="{{video.video_url}}" title="{{video.title}}" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}